.todo-container{
    background: black;
    width: 70vw;
    margin: 10em auto;
    border-radius: 10px;
    padding: 15px;
    color: bisque;
    
}
.header{
    font-size: 2em;
    text-align: center;
    color: aqua;

}
.input-container{
    background: black;
    padding: 0.5em;
    border-radius: 1em;
    border: 2px solid rgb(243, 236, 240) ;
}
.input{
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    background: rgb(49, 245, 5);
    border: 1px;
    border-radius: 1em;
    padding: .5em;
    margin: 1em;
    width: 80%;
}
.button{
    border-radius: 15px;
    position: relative;
    top: 8px;;
   
    font-size: 2em;
    margin: 2px;
    padding: 0px 25px;
    border: none;
    cursor: pointer;
    color: black;
    background: rgb(255, 47, 144);

}
.list-task{
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 0, 179);
    background-color: black;
    border: 1px solid rgb(255, 0, 157);
    border-radius: 5px;
    padding: 1em;
    margin: 0.5em;
}
.dlt-btn{
    border-radius: 5px;
    margin: 0px 3px;
    padding: 3px 3px;
  
    border: none;
    cursor: pointer;
    color: black;
    float: right;
    background-color: rgb(255, 0, 179);

}